<tr>
    <td>1</td>
    <td>SiaraTechnology PVT LTD</td>
    <td class="d-flex flex-column">
        <span>Email: armaanalam65@gmail.com</span>
        <span>Phone: 9973884502</span>
    </td>

    <td>Benguluru,Karnataka,India</td>
    <td><span class="badge bg-success">Active</span></td>
    <td>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <!-- Edit Icon -->
            
            <div class="theme-icons cursor-pointer rounded d-flex align-items-center justify-content-center p-1" style="width:30px; height:30px;">
            <a href="#"><i class="bx bx-edit text-primary fs-6"></i></a>
            </div>

            <!-- View / Eye Icon -->
            {% comment %} <div class="theme-icons cursor-pointer rounded d-flex align-items-center justify-content-center p-1" style="width:30px; height:30px;">
            <a href="#">
                <i class="bx bx-show text-primary fs-6"></i>
            </a>
            </div> {% endcomment %}
            <div class="font-22 text-danger theme-icons cursor-pointer rounded">	<i class="fadeIn animated bx bx-trash"></i>
			
            </div>
        </div>
    </td>
</tr>