{% for cmp in company %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{cmp.company_name_street}}</td>
    
    <td class="d-flex flex-column">
        {% if cmp.contacts.all %}
        {% for contact in cmp.contacts.all %}
            {% if contact.email %}
            <span>Email: {{ contact.email }}</span>
            {% endif %}
            {% if contact.mobile_no %}
            <span>Phone: {{ contact.mobile_no }}</span>
            {% endif %}
        {% empty %}
            <span class="text-muted">No contact info</span>
        {% endfor %}
        {% else %}
        <span class="text-muted">No contact info</span>
        {% endif %}
    </td>

    <td>Benguluru,Karnataka,India</td>
    <td><span class="badge bg-success">Active</span></td>
    <td>
        <div class="d-flex align-items-center justify-content-center gap-2">
            <!-- Edit Icon -->
            
            <div class="theme-icons cursor-pointer rounded d-flex align-items-center justify-content-center p-1" style="width:30px; height:30px;">
            <a href="#"><i class="bx bx-edit text-primary fs-6"></i></a>
            </div>

            <!-- View / Eye Icon -->
            {% comment %} <div class="theme-icons cursor-pointer rounded d-flex align-items-center justify-content-center p-1" style="width:30px; height:30px;">
            <a href="#">
                <i class="bx bx-show text-primary fs-6"></i>
            </a>
            </div> {% endcomment %}
            <div class="font-22 text-danger theme-icons cursor-pointer rounded">	<i class="fadeIn animated bx bx-trash"></i>
			
            </div>
        </div>
    </td>
</tr>
{% endfor %}