<tr>
    <td class="ps-4 fw-medium">armaan</td>
    <td>
        <span class="badge bg-success-subtle text-success">Active</span>
    </td>

    <td>
        <div>
            <h6 class="mb-0 fw-semibold"> siara technology</h6>
            {% comment %} <small class="text-muted">Cotton</small> {% endcomment %}
        </div>
    </td>
    {% comment %} <td>12 Oct, 2025</td>/ {% endcomment %}
    
     <td class="fw-semibold">2 min ago</td>
    <td class="text-end pe-4">
        <div class="d-flex gap-2 justify-content-end order-actions">
            <a href="javascript:;" class="text-danger bg-danger-subtle" title="Delete">
                <i class="bx bxs-trash"></i>
            </a>
            <a href="#" class="text-primary bg-primary-subtle" title="Edit">
                <i class="bx bxs-edit"></i>
            </a>
        </div>
    </td>
</tr>
