

<div class="modal fade" id="exampleLargeModal2" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header bg-primary text-white d-flex align-items-center justify-content-between mb-2">
            <div class="d-flex align-items-center">
               <i class="bi bi-card-text fs-4 me-2"></i>
               <h5 class="modal-title fw-bold mb-0 text-white">Add Process</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form  method="POST" class="row g-3">
               {% csrf_token %}
               
               <!-- Row 1 -->
               <div class="row mb-2">
                  <div class="col-md-6">
                     <label for="inputQualityCode" class="form-label">Process Code <span class="text-danger">*</span></label>
                     <input type="text" class="form-control text-muted" id="inputQualityCode" placeholder="Auto: P-XXXX"  name="process_code" required>
                  </div>
                  <div class="col-md-6">
                     <label for="inputQualityName" class="form-label">Process Name <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="inputQualityName" name="process_name" placeholder="e.g., Formal Shirt" required >
                     
                  </div>
               </div>

               <div class="row mb-2">
                  <div class="col-md-4">
                    <label for="inputCategory" class="form-label">Process Type <span class="text-danger">*</span></label>
                    <select class="form-select" id="inputCategory" name="type" required>
                        <option value="" selected disabled>Select Type</option>
                        
                        <option value="Job Work" >Job Work</option>
                        <option value="In-house" >In-house</option>
                       
                           
                           
                          
                    </select>
                     
                  </div>
                  <div class="col-md-4">
                    <label for="inputCategory" class="form-label">Unit <span class="text-danger">*</span></label>
                    <select class="form-select" id="inputCategory" name="unit" required>
                        <option value="" selected disabled>Select unit</option>
                        
                        <option value="Meter" >Meter</option>
                        <option value="Piece" >Piece</option>
                        <option value="Kg" >Kg</option>
                      
                          
                    </select>
                     
                  </div>
                  <div class="col-md-4">
                     <label for="inputCategory" class="form-label">Rate <span class="text-danger">*</span></label>
                     <input type="number" step="0.01" class="form-control" id="inputRate" name="rate" placeholder="58" required >
                  </div>
                  
               </div>
               <!-- Row 2 -->
               <div class="row mb-2">
                  <div class="col-md-12">
                     <label for="inputConstruction" class="form-label">Avg Time <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="inputConstruction" name="avg_time" placeholder="eg. 2 days" required >
                     
                  </div>
                  
                  
               </div>
               <!-- Row 3 -->
               
               <!-- Row 4 -->
               <div class="row mb-2">
                  <div class="col-md-12">
                     <label for="inputDescription" class="form-label">Description</label>
                     <textarea class="form-control" id="inputDescription" placeholder="Garment specifications..." name="description"></textarea>
                  </div>
               </div>
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Process</button>
         </div>
         </form>
      </div>
   </div>
</div>


