{% extends "fabzen_app/Base/base.html" %}

{% block title %}Processes{% endblock title %}

{% block main-content %}

<div class="page-content">
    {% comment %} {% include "fabzen_app/Base/master_header.html" %} {% endcomment %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% include "fabzen_app/Masters/Party/common.html" %}    
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div>
                            <h4 class="mb-0">Process Master</h4>
                            <p class="text-muted mb-0">
                                Job work processes and rates
                            </p>
                        </div>
                        <!-- Add Party Button -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleLargeModal2">Add Process</button>
                        {% include "fabzen_app/Masters/processes/partials/add_process.html" %}


                    </div>
                    <div class="mb-4 d-flex gap-2 align-items-center">
                        <!-- 🔍 Search Input -->
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search garments..."
                            style="max-width: 300px;"
                            name="search"
                            hx-get="{% url 'process_list' %}"
                            hx-trigger="keyup changed delay:500ms"
                            hx-target="tbody"
                            hx-include="[name='process_type']"
                            >
                        <!-- 🧩 Filter Select -->
                        <select 
                            class="form-select" 
                            style="max-width: 200px;"
                            name="type"
                            hx-get="{% url 'process_list' %}"
                            hx-trigger="change"
                            hx-target="tbody"
                            hx-include="[name='search']"
                            >
                            <option value="">Filter by Type</option>
                            <option value="Job Work">Job Work</option>
                            <option value="In-house">In-house</option>
                           
                        </select>
                    </div>
                    <hr>
                    {% include "fabzen_app/Base/messages.html" %}
                    <div class="card">
                        <div class="card-body" >
                            <table class="table mb-0 table-striped" >
                                <thead class="table-light">
                                <tr>
                                    {% comment %} <th class="text-nowrap">SI No</th> {% endcomment %}
                                    <th scope="col">Code</th>
                                    <th scope="col">Process Name</th>
                                    <th scope="col">Type</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Avg Time</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody 
                                id="fabric-table"
                                hx-get="{% url 'process_list' %}" 
                                hx-trigger="load" 
                                hx-target="this" 
                                hx-swap="innerHTML"
                                >
                                <!-- party_table.html will load here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}