<ul class="nav nav-pills mb-3" role="tablist">
   <li class="nav-item" role="presentation">
      <a class="nav-link active" data-bs-toggle="pill" hx-get="{% url "party_list" %}" hx-target="#primary-pills-home"  role="tab" aria-selected="true">
      <div class="d-flex align-items-center">
         <div class="tab-icon">
         </div>
         <div class="tab-title" >Parties</div>
      </div>
      </a>
   </li>
   <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-profile" role="tab" aria-selected="false">
         <div class="d-flex align-items-center">
            <div class="tab-icon"><i class='bx bxs-user-pin font-18 me-1'></i>
            </div>
            <div class="tab-title">Fabric Qualities</div>
         </div>
      </a>
   </li>
   <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="pill" href="#primary-pills-contact" role="tab" aria-selected="false">
         <div class="d-flex align-items-center">
            <div class="tab-icon"><i class='bx bxs-microphone font-18 me-1'></i>
            </div>
            <div class="tab-title">Colors</div>
         </div>
      </a>
   </li>
</ul>