<div class="modal fade" id="editMachineModal-{{fabric.id}}" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header bg-primary text-white">
            <h5 class="modal-title text-white">Edit Machine</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form action="{% url "edit_machine" fabric.id %}" method="POST" id="editProcessForm">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row mb-2">
                  <div class="col-md-6">
                     <label for="inputQualityCode" class="form-label">Machine Code</label>
                     <input type="text" class="form-control text-muted" id="inputQualityCode" placeholder="Auto: M-XXXX" value="{{fabric.machine_code}}"  name="machine_code" disabled>
                  </div>
                  <div class="col-md-6">
                     <label for="inputQualityName" class="form-label">Machine Name</label>
                     <input type="text" class="form-control" id="inputQualityName" name="machine_name" placeholder="e.g., Single Needle Machine 1" value="{{fabric.machine_name}}" required >
                     
                  </div>
               </div>

               <div class="row mb-2">
                  <div class="col-md-6">
                    <label for="inputCategory" class="form-label">Machine Type</label>
                    <select class="form-select" id="inputCategory" name="machine_type" required>
                        <option value="" selected disabled>Select Type</option>
                        
                        <option value="Stitching" {% if fabric.machine_type == 'Stitching' %}selected{% endif %}>Stitching</option>
                        <option value="Cutting" {% if fabric.machine_type == 'Cutting' %}selected{% endif %}>Cutting</option>
                        <option value="Finishing" {% if fabric.machine_type == 'Finishing' %}selected{% endif %}>Finishing</option>
                        <option value="Ironing" {% if fabric.machine_type == 'Ironing' %}selected{% endif %}>Ironing</option>
                       
                           
                           
                          
                    </select>
                     
                  </div>
                 
                  <div class="col-md-6">
                     <label for="inputCategory" class="form-label">Brand</label>
                     <input type="text"  class="form-control" id="inputRate" name="brand" placeholder="eg., Juki" value="{{fabric.brand}}" required >
                  </div>
                  
               </div>
               <!-- Row 2 -->
               <div class="row mb-2">
                  <div class="col-md-6">
                     <label for="inputConstruction" class="form-label">Capacity Per Day</label>
                     <input type="text" class="form-control" id="inputConstruction" name="capacity" placeholder="eg., 30 pc/day" value="{{fabric.capacity_per_day}}" required >
                     
                  </div>
                  <div class="col-md-6">
                     <label for="inputConstruction" class="form-label">Purchase Date</label>
                     <input type="date" class="form-control" id="inputConstruction" name="purchase_date" placeholder="eg., 30 pc/day" value="{{fabric.purchase_date|date:'Y-m-d'}}" required >
                     
                  </div>
                  
                  
               </div>
               <!-- Row 3 -->
               
               <!-- Row 4 -->
               <div class="row mb-2">
                  <div class="col-md-12">
                     <label for="inputCategory" class="form-label">Assigned Operator</label>
                     <select class="form-select" id="inputCategory" name="assign_operator" required>
                        <option value="" selected disabled>Select</option>
                        
                        <option value="Rajesh Kumar" {% if fabric.assigned_operator == 'Rajesh Kumar' %}selected{% endif %}>Rajesh Kumar</option>
                        <option value="Suresh Patel" {% if fabric.assigned_operator == 'Suresh Patel' %}selected{% endif %} >Suresh Patel</option>
                        <option value="Rajesh Singh" {% if fabric.assigned_operator == 'Rajesh Singh' %}selected{% endif %} >Rajesh Singh</option>
                        
                    
                     </select>
                     
                  </div>
               </div>
               <div class="row mb-2">
                  <div class="col-md-12">
                     <label for="inputDescription" class="form-label">Notes</label>
                     <textarea class="form-control" id="inputDescription" placeholder="Machine specifications and maintenance notes..." name="notes">{{fabric.notes}}</textarea>
                  </div>
               </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Update Machine</button>
            </div>
         </form>
      </div>
   </div>
</div>
